#caja{
  width: 750px;
  height: 600px;
  background: transparent;
  margin: auto;
  perspective: 1900px;








  
}

#cara1{
  width: 750px;
  height: 600px;
  background:tan;
  background-image: url(../imagenes/caballo.jpg);
  transition:all 40s ease;
  transform:rotateY(120deg);
  transform-style: preserve-3d;
   background-repeat: no-repeat;
  border: 4px solid transparent;
  -webkit-animation: fondo   infinite;
  background-color: #9357FC


  
}
@-webkit-keyframes fondo{
  0%{background-position: bottom; left: }
  100%{background-position: right; left}
}

#cara2{
  width: 750px;
  height: 600px;
  background-repeat: no-repeat;
   background-image: url(../imagenes/caballo.jpg);
  margin: auto;
  transform:rotateY(120deg);
 border: 4px solid transparent;
  transform-style: preserve-3d; -webkit-animation: fondo  infinite;
  background-color: #6FCADB

  

}




#cara3{
  width: 750px;
  height: 600px;
  background:tan;
  background-image: url(../imagenes/caballo.jpg);
  transform:rotateY(120deg);
  border: 4px solid transparent;
  -webkit-animation: fondo infinite;
   background-repeat: no-repeat;
   background-color: #DF67E5


}
@-webkit-keyframes fondo{
  0%{background-position: bottom; left: }
  100%{background-position: right; left}
}




#caja:hover> #cara1{
  transform: rotateY(1080deg);
  
  

}


#atras{
  
  border-radius: 10px;
  height: 100px;
  width: 100px;
  margin-top: 65px

}


