.contenedor{
width: 300px;
margin: 9% auto;
position: relative;
cursor: pointer;
height: 400px;
transition: all 2s ease;
}

.contenedor:hover {
transform: rotateZ(45deg);
}


.contenedor2{
width: 300px;
margin: 9% auto;
position: relative;
cursor: pointer;
height: 400px;
transition: all 2s ease;
}

.contenedor2:hover {
transform: rotateY(45deg);
}

.contenedor3{
width: 300px;
margin: 9% auto;
position: relative;
cursor: pointer;
height: 400px;
transition: all 2s ease;
}

.contenedor3:hover {
transform: rotateX(45deg);
}

.contenedor4{
width: 300px;
margin: 9% auto;
position: relative;
cursor: pointer;
height: 400px;
transition: all 2s ease;
}

.contenedor4:hover {
transform: translateY(100px);
}

.contenedor5{
width: 300px;
margin: 9% auto;
position: relative;
cursor: pointer;
height: 400px;
transition: all 2s ease;
}

.contenedor5:hover {
transform: translateY(-100px);
}

.Image1, .Image2, .Image3, .Image4, .Image5{
width: 100%;
height: 100%;
}


.Image1{
background: url(../imagenes/1.jpg);
z-index: 2;
margin-left: -200px;
}

.Image2{
background: url(../imagenes/2.jpg);
z-index: 2;
margin-top: -520px;
margin-left: 200px;
}

.Image3{
background: url(../imagenes/3.jpg);
z-index: 2;
margin-left: -200px;
margin-top: -50px;

}

.Image4{
background: url(../imagenes/4.jpg);
z-index: 2;
margin-left: 200px;
margin-top: -520px;

}

.Image5{
background: url(../imagenes/5.jpg);
z-index: 2;
margin-left: -10px;
margin-top: -50px;

}